<div class="w-44 h-56 border-black border-2 bg-zinc-100 shadow-xl rounded hover:scale-105 transition ease-in-out">
  <div class="flex flex-col h-full px-3 cursor-pointer">
    <div class="h-24 flex items-center justify-center">
      <svg class="text-bluedark" xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 -960 960 960" width="64"><path fill="currentColor" d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5T731-360q31 14 50 41t19 65v94H160Z"/></svg>
    </div>
    <div class="flex flex-col flex-grow gap-1">
      <span class="font-semibold text-lg text-primary">{{deputyName}}</span>
      <span>{{deputyParty}}</span>
      <span>{{deputyBirthplace}}</span>
      <span class="bg-zinc-800 w-fit px-2.5 text-zinc-300 rounded">Em exercício</span>
    </div>
  </div>
</div>