<main class="px-64">
  <header class="">
    <h1 class="font-semibold text-black text-6xl pt-24">Conheça o VOTe</h1>
    <p 
      class="text-lg text-black mt-8 lg:text-xl lg:w-3/4">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
      sed diam nonumy eirmod tempor invidunt ut labore et dolore 
      magna aliquyam erat, sed diam voluptua tempor invidunt.
    </p>
  </header>

  <div class="mt-6 lg:w-1/3 lg:mx-auto lg:mt-20">
    <app-card-container></app-card-container>
  </div>
</main>