<div class="form-card flex flex-col items-center px-20 justify-center bg-whitebg">
  <img src="../../../../assets/imgs/register-vector.svg" alt="um enorme celular e uma pessoa ao lado" class="head-img">
  <div class="flex flex-col items-start w-full mt-6">
    <h1 class="text-4xl text-bluedark">Cadastre-se</h1>
    <p class="text-graydark mt-2">Preencha todos os campos.</p>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="imprime()" class="flex flex-col mt-9 min-w-full">
    <div>
      <input formControlName="email" type="email" placeholder="E-mail" class="primary-input">
    </div>
    <div class="mt-5">
      <div class="flex items-center relative">
        <input 
          formControlName="password" 
          type="password" 
          placeholder="Senha" 
          class="p-4 pr-8 bg-whitebg w-full outline-none placeholder:text-gray border border-primary rounded-xl h-14"
          #passinput
        >
        <mat-icon (click)="toggleVisibility(passinput)" color="primary" class="icon absolute right-2 cursor-pointer">remove_red_eye</mat-icon>
      </div>
    </div>
    <div class="mt-5">
      <div class="flex items-center relative">
        <input 
          formControlName="repeatPassword" 
          type="password" 
          placeholder="Repita sua senha" 
          class="p-4 pr-8 bg-whitebg w-full outline-none placeholder:text-gray border border-primary rounded-xl h-14"
          #repeatpassinput
        >
        <mat-icon (click)="toggleVisibility(repeatpassinput)" color="primary" class="icon absolute right-2 cursor-pointer">remove_red_eye</mat-icon>
      </div>
    </div>
    <app-primary-button 
      text="Cadastrar" 
      size="h-12" 
      class="mt-5" 
      [disabled]="registerForm.invalid || registerForm.get('password')?.value !== registerForm.get('repeatPassword')?.value">
      <img src="../../../../assets/imgs/signin-icon.svg" alt="">
    </app-primary-button>
  </form>
  <div class="gologin flex flex-col items-center mt-5">
    <small>Já tem uma conta?</small>
    <a class="text-primary text-sm font-medium hover:underline" routerLink="/conta">Entrar</a>
  </div>
</div>