.form-card {
    width: 640px;
    min-height: 95vh;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.head-img {
    max-width: 433px;
    height: auto;
}

@media screen and (max-width: 658px) {
    .form-card {
        width: 96vw;
    }
}

@media screen and (max-width: 480px){
    .form-card {
        padding: 1.5rem 2rem 1.5rem 2rem !important;
    }
    .head-img {
        max-width: 100%;
    }
}