<div class="form-card flex flex-col justify-between items-center bg-whitebg px-20 py-14">
    <div class="flex flex-col">
        <img class="head-img" src="../../../../assets/imgs/forgot-pass-vector.svg" alt="">
        <div class="mt-10">
            <h1 class="text-3xl text-bluedark">Perdeu a senha?</h1>
            <p class="text-graydark mt-2">Coloque o email cadastrado, enviaremos uma solicitação para redefinir sua senha.</p>
        </div>
        <div class="min-w-full mt-11 flex flex-col">
            <input type="email" class="primary-input" placeholder="E-mail">
            <app-primary-button text="Enviar" size="h-12" class="mt-5">
                <img src="../../../../assets/imgs/mail-icon.svg" alt="um icone de email">
            </app-primary-button>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <small class="mt-5">Já tem uma conta?</small>
        <a class="mt-2 text-primary text-sm font-medium hover:underline" routerLink="">Entrar</a>
    </div>
</div>