<swiper-container loop="true" navigation="true" initial-slide="0" class="h-64 bg-neutral-200">
  <!-- <div class="swiper-button-prev button">
    <svg class="w-6" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path fill="currentColor" d="M400-80 0-480l400-400 56 57-343 343 343 343-56 57Z"/></svg>
  </div> -->
  

  <swiper-slide class="px-11 lg:px-14">
    <h1 class="text-2xl lg:text-3xl font-medium text-slate-700 mt-6 lg:mt-8">Notícias</h1>
    <p class="text-base mt-2 lg:mt-5">Eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed aa diam voluptua tempor invidunt.eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua tempor invidunt.</p>
  </swiper-slide>
  <swiper-slide class="px-11 lg:px-14">
    <h1 class="text-2xl lg:text-3xl font-medium text-slate-700 mt-6 lg:mt-8">Educação</h1>
    <p class="text-base mt-2 lg:mt-5 ">Eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua tempor invidunt.eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua tempor invidunt.Eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
  </swiper-slide>


  <!-- <div class="swiper-button-next">
    <svg class="w-6" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path fill="currentColor" d="m304-82-56-57 343-343-343-343 56-57 400 400L304-82Z"/></svg>
  </div> -->
</swiper-container>