<main class="lg:px-64">
  <section class="mt-4">
    <h1 class="lg:text-4xl text-center font-bold text-zinc-800">Lista de deputados</h1>
    <div class="grid grid-cols-1 lg:gap-y-9 lg:grid-cols-4 mt-11 place-items-center">
      <app-deputy-card 
        deputyName="Abilio Brunini"
        deputyParty="PL-MT"
        deputyBirthplace="Cuiabá - MT"
      ></app-deputy-card>
      <app-deputy-card 
        deputyName="Alberto Fraga"
        deputyParty="PL-DF"
        deputyBirthplace="Estância - SE"
      ></app-deputy-card>
      <app-deputy-card 
        deputyName="Eduardo Velloso"
        deputyParty="UNIÃO-AC"
        deputyBirthplace="Rio Branco - AC"
      ></app-deputy-card>
      <app-deputy-card 
        deputyName="Elcione Barbalho"
        deputyParty="MDB-PA"
        deputyBirthplace="Belém - PA"
      ></app-deputy-card>
      <app-deputy-card
        deputyName="Gilberto Abramo"
        deputyParty="REPUBLICANOS-MG"
        deputyBirthplace="Porto Ferreira - SP"
      ></app-deputy-card>
    </div>
  </section>
</main>